header h1 {
    text-align: center;
    color: white;
}

/* when y else */
@when media(width < 600px) {
    body {
        background-color: red;
    }
} @else {
    body {
        background-color: white;
    }
}

/* not */
p:not(.especial) {
    color: white;
    background-color: black;
}

/* is */
article :is(h1, h2, h3) {
    color: red;
}

/* h1, h2, h3 {color: red;} */

/* has */
header:has(h1) {
    background-color: blue;
}

/* where */
:where(p) {
    color: blue;
}